# A short client ID from the gov website
OAUTH_CLIENT_ID=ABCD1234EFGH5678IJKL9012MNOP3456

# A long client secret from the gov website
OAUTH_CLIENT_SECRET=QRSTUVWXYZabcdefgHIJKLMNOPqrstuvwxYZ0123456789abcdEFGHijklmnopQRSTuvwx

# Set to 1 to enable govApi calls, or 0 to disable them.
GOVAPI_ENABLED=0